.splashbg2 {
    -fx-background-color: linear-gradient(from 0% 0% to 75% 75%, white 75%, #07AEDA 0%)

}

.splashbg3 {
    -fx-background-color: linear-gradient(to top left, #07AEDA, white);
}

.but {
    -fx-background: linear-gradient (to bottom, #07acda 5%, #019ad2 100%);
    -fx-background-color: #07acda;
    -fx-display: inline-block;
    -fx-cursor: hand;
    -fx-color: #000000;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 8px;
    -fx-text-decoration: none;
    
}

.but:hover {
    -fx-background: linear-gradient(to bottom, #019ad2 5%, #07acda 100%);
    -fx-background-color: #019ad2;
}

.but:active {
    -fx-position: relative;
    -fx-top: 1px;
}
